<div class="container  block1">
  <div class="block-one">
    <div class="block-one__logo">
      <img src="https://firebasestorage.googleapis.com/v0/b/designerapp-71abf.appspot.com/o/logo.png?alt=media&token=7884aeeb-e132-433e-9e65-ec05d0879da5" alt="">
      <h1>Katherine Pyskun</h1>
    </div>
    <div class="block-one__link">
      <div class="block-one__link-tel">
        <img src="https://firebasestorage.googleapis.com/v0/b/designerapp-71abf.appspot.com/o/phone.png?alt=media&token=b560657d-bf1f-4987-b824-20edf6281b21" alt="">
        <a href="tel:+380509194529">+380509194529</a>
      </div>
      <div class="block-one__link-insta">
        <img src="https://firebasestorage.googleapis.com/v0/b/designerapp-71abf.appspot.com/o/insta.png?alt=media&token=a6db4ea9-d96c-4902-80eb-9262f409a685" alt="">
        <a href="https://www.instagram.com/cat_pyskun/?utm_medium=copy_link">cat_pyskun</a>
      </div>
      <div class="block-one__link-mail">
        <img src="https://firebasestorage.googleapis.com/v0/b/designerapp-71abf.appspot.com/o/email.png?alt=media&token=c4cdca74-ed1b-4700-9cb6-3645d5007d3a" alt="">
        <a href="mailto:katherine.dereeva@gmail.com">katherine.dereeva@gmail.com</a>
      </div>

    </div>
  </div>
</div>
<div class="container">
  <div class="block-discript">
    <p>Professional designer. Experience in advertising and printing. Development of corporate identity,
      development of printing products.</p>
    <p>Knowledge of photography, experience in photography.</p>
    <p>Shooting and editing video. Creation of photo and video content.</p>
    <p>Experience in creating illustrations.</p>
    <p>Art studio management. Management of the design department, in the direction of advertising and souvenir
      products.</p>
    <p>Logo development and full brand style management</p>
    <p>Experience in the direction of the interior, photo wallpapers, canvases, creating prints for fabric.</p>
    <p>Experience in working with handmade (creating interior paintings, painting on fabric, designer
      postcards, interior items, etc.)</p>
    <p>On this page you can see my work. I post only real photos of existing projects. This is a small part of
      my work. You can see my photo and video work on the link in instagram</p>
  </div>
</div>
<div class="container">
  <div class="block-two">
    <div class="block-two__img">
      <img src="https://firebasestorage.googleapis.com/v0/b/designerapp-71abf.appspot.com/o/10.jpg?alt=media&token=0154a8a8-24f2-4608-918d-1ca48efd62dc" alt="">
      <p class="block-two__p">Logo</p>
    </div>
    <div class="block-two__img">
      <img src="https://firebasestorage.googleapis.com/v0/b/designerapp-71abf.appspot.com/o/5.jpg?alt=media&token=739f3a5a-2173-4fcd-8757-28ead3022598" alt="">
      <p class="block-two__p">Business card</p>
    </div>
    <div class="block-two__img">
      <img src="https://firebasestorage.googleapis.com/v0/b/designerapp-71abf.appspot.com/o/2.jpg?alt=media&token=549b2042-799c-42b8-9920-5a3cefc5de38" alt="">
      <p class="block-two__p">Gift certificates</p>
    </div>
    <div class="block-two__img">
      <img src="https://firebasestorage.googleapis.com/v0/b/designerapp-71abf.appspot.com/o/3.jpg?alt=media&token=d08147a8-0fd9-4181-8274-5762164c493d" alt="">
      <p class="block-two__p">Postcards, catalogs, posters</p>
    </div>
    <div class="block-two__img">
      <img src="https://firebasestorage.googleapis.com/v0/b/designerapp-71abf.appspot.com/o/4.jpg?alt=media&token=e5fe9686-7e94-49e6-8689-f8cc4ac0181b" alt="">
      <p class="block-two__p">Author's notebooks and diaries</p>
    </div>
    <div class="block-two__img">
      <img src="https://firebasestorage.googleapis.com/v0/b/designerapp-71abf.appspot.com/o/1.jpg?alt=media&token=f97aba48-8a2d-4856-b116-045fc58b2805" alt="">
      <p class="block-two__p">Stands and information plates</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="block-three">
    <div class="block-three__img">
      <img src="https://firebasestorage.googleapis.com/v0/b/designerapp-71abf.appspot.com/o/7.jpg?alt=media&token=ed38aae6-953e-49cf-8010-93af92529415" alt="">
      <p class="block-three__p">Outdoor decoration</p>
    </div>
    <div class="block-three__img">
      <img src="https://firebasestorage.googleapis.com/v0/b/designerapp-71abf.appspot.com/o/6.jpg?alt=media&token=06b08ad2-79f9-456b-ae13-c6f458c1ae15" alt="">
      <p class="block-three__p">Souvenir and corporate products</p>
    </div>
    <div class="block-three__img">
      <img src="https://firebasestorage.googleapis.com/v0/b/designerapp-71abf.appspot.com/o/9.jpg?alt=media&token=cf0483a1-2da5-48b7-af2f-cdce23c2ab9e" alt="">
      <p class="block-three__p">Author's and thematic gift boxes</p>
    </div>
    <div class="block-three__img">
      <img src="https://firebasestorage.googleapis.com/v0/b/designerapp-71abf.appspot.com/o/8.jpg?alt=media&token=97a57b8a-e5eb-4740-932d-ccc8df63bfb4" alt="">
      <p class="block-three__p">Board game development</p>
    </div>
    <div class="block-three__img">
      <img src="https://firebasestorage.googleapis.com/v0/b/designerapp-71abf.appspot.com/o/11.jpg?alt=media&token=32382d0f-b75e-406c-a47a-c007ba32bf0e" alt="">
      <p class="block-three__p">Painting and drawing</p>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="video-h2"><a href="https://www.youtube.com/channel/UCuo4JfmfVclowv0wcfwt8PQ">My youtube chanel - Cat_Dere</a></h2>
  <div class="video-block">
    <div class="video-container">
      <iframe width="200" height="315" src="https://www.youtube.com/embed/dTPEhpNlPqA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-container">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/KIvWu4c95Pc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-container">
      <iframe width="200" height="315" src="https://www.youtube.com/embed/h6mBxw2iqUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-container">
      <iframe width="200" height="315" src="https://www.youtube.com/embed/videoseries?list=PLYfhNnx4LN5zepvhncEiraY6PgeBtA9PG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-container">
      <iframe width="200" height="315" src="https://www.youtube.com/embed/bTslGK_qLBk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-container">
      <iframe width="200" height="315" src="https://www.youtube.com/embed/BJsVIEvBoiM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-container">
      <iframe width="200" height="315" src="https://www.youtube.com/embed/5wgYRDCH3dw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-container">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/c_HtT-Yvzb0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
