html
  font-family: 'Inter', sans-serif
*
  margin: 0
  padding: 0
  box-sizing: border-box

.header-block
  display: flex
  flex-direction: row
  justify-content: space-between

.links-block
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  max-width: 140px
  flex-wrap: wrap
  & a
    margin: 5px
    cursor: pointer

.description-block
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-start
  padding-top: 20px
  & .description
    max-width: 666px
    width: 100%
    font-size: 20px
    line-height: 24.2px
    font-family: "Inter", sans-serif

.web-block
  display: flex
  flex-direction: column
  &__row
    padding-top: 30px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    & .item
      max-width: 300px
      width: 100%
      max-height: 250px
      height: 100%
      object-fit: cover
      cursor: pointer
      padding: 5px

.ux
  margin-left: 50px
.tamper
  margin-left: -50px
.title-block
  font-size: 64px
  text-align: center
  color: #D5D5D5
  font-family: 'Inter', sans-serif
.poligrafy-block
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  margin-top: 20px
  & .poligrafy-title
    width: 100px
    & h2
      color: #DFD3C9
      word-break: break-all
      line-height: 75px
  & .poligrafy-items__block
    display: grid
    grid-template-rows: repeat(2, 424px)
    grid-template-columns: repeat(2, 451px)
    object-fit: contain
    position: relative
    & .box1
      grid-column-start: 1
      grid-column-end: 2
      grid-row-start: 1
      grid-row-end: 3
    & .box2
      grid-column-start: 2
      grid-column-end: 3
      grid-row-start: 1
      grid-row-end: 2
    & .box3
      grid-column-start: 1
      grid-column-end: 2
      grid-row-start: 3
      grid-row-end: 4
    & .box4
      grid-column-start: 2
      grid-column-end: 3
      grid-row-start: 2
      grid-row-end: 4
      position: absolute
      right: -213px
      bottom: 37px

.social-title__row
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  flex-wrap: nowrap
  & .social-title
    display: flex
    justify-content: flex-end
    flex-direction: column
    text-align: right
    & .socialTitle
      text-align: right
    & p
      font-size: 40px
      color: #DFD3C9
      font-weight: 800
      font-family: "Inter", sans-serif
.socialrow1
  justify-content: flex-end
  & .example
    margin-top: -20px
.row-rev
  flex-direction: row-reverse
.difCol
  color: #DFD3C9
.footer-t
  letter-spacing: 30px
.footer-end
  opacity: .5

@media screen and ( max-width: 1200px )
  .poligrafy-items__block
    display: flex !important
    flex-wrap: wrap
  .social-title__row
    flex-wrap: wrap
  .example
    margin-top: 0 !important
  .ux
    order: -1
  .polItem
    & img
      max-width: 1100px
      width: 100%

  //.box2
  //  display: none
  .box4
    display: none

@media screen and ( max-width: 760px )
  .socialrow1
    justify-content: inherit
  .social-title__row
    flex-direction: column
  .web-block__row
    justify-content: center
  .social-img
    & img
      max-width: 500px
      width: 100%
  .item a img
    max-width: 500px
    width: 100%
  .title-block
    font-size: 48px
@media screen and ( max-width: 350px )
  .title-block
    font-size: 38px
  .box4
    position: relative
